html.no-scroll,
html.no-scroll body {
  /* want to fix the height to the window height */
  height: calc(var(--window-inner-height) - 1px);

  /* want to block all overflowing content */
  overflow: hidden;

  /* want to exclude padding from the height */
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 52, 121);
  margin: 0;
}

.game-board {
  width: 95vmin;
  height: 95vmin;
  display: grid;

  background-color: #ccc;
  position: relative;
}

.game-board::after {
  content: attr(data-content);
  font-size: 20rem;

  color: lightslategray;
  opacity: 0.4;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: 0.25vmin solid black;
  z-index: 3;
}
.snakeHead {
  background-color: hsl(184, 98%, 45%);
  border: 0.25vmin solid black;
  z-index: 4;
}

.food {
  background-color: hsl(50, 100%, 50%);
  border: 0.25vmin solid black;
  z-index: 3;
}

.wall {
  background-color: hsl(0, 0%, 15%);
  border: 0.25vmin solid black;
  z-index: 1;
}

#settings {
  color: white;
  display: flex;
  flex-direction: column;
}

.gameOver-modal {
  background: hsl(0, 0%, 0%, 0.8);
  color: whitesmoke;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  visibility: hidden;
  z-index: 99;
  align-items: center;
  justify-content: center;
}
.settings-modal {
  background: hsl(0, 0%, 0%, 0.8);
  color: whitesmoke;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  visibility: hidden;
  z-index: 99;
  align-items: center;
  justify-content: center;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem;
  font-size: larger;
  font-weight: bold;
  color: rgb(177, 177, 177);
  cursor: pointer;
}
.modal-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container * {
  padding: 0.5rem;
  margin: 0.2rem;
  font-weight: bold;
  color: navy;
}
.modal-container label,
.modal-container p {
  color: whitesmoke;
}
.btn {
  padding: 0.5rem;
  margin: 0.2rem;
}

.opt {
  text-align: center;
}

#default-btn {
  margin-top: 2rem;
}
